/*
* o que fazer com as fontes ?
*/


#Home {
	height: 100vh;
	left: 0;
	position: relative;
	top: 0;
	width: 100vw;
	background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

#Balance {
	height: 190px;
	width: 315px;
	position: absolute;
	background: #4745A3;
	border-radius: 25px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 24px;
}

#Titulo {
	position: absolute;
	height: 17px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.00039375px;
	color: #FFFFFF;
}

#ValorTotal, #Valor {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.000703125px;
	color: #FFFFFF;
}

#Valor {
	margin-top: 25px;
	height: 24px;
	font-size: 20px;
	line-height: 24px;
}

#ValorTotal {
	margin-top: 25px;
	font-size: 25px;
	line-height: 30px;
	height: 30px;
}

#Bloco, #Bloco2 {
	position: absolute;
	bottom: 30px;
	top: 109px;
}

#Bloco2 {
	left: 188px;
}

#BlocoPorcentagem {
	height: 20px;
	width: 47px;
	left: 52px;
	border-radius: 10px;
	position: absolute;
	background: #FFFFFF;
}

#Porcentagem {
	left: 10px;
	top: 3px;
	position: absolute;
	font-family: SF Pro Display;
	font-size: 12px;
	letter-spacing: 0.00132188px;
	color: #057BFF;
}